@page "/classrooms"
@using CRReservation.COMMON.Models
@using CRReservation.COMMON.Components.Prefabs
@using CRReservation.COMMON.Services
@inject IClassRoomService ClassRoomService

<h1>Lista sal:</h1>

@if (classRooms == null)
{
	<p>Ładowanie sal...</p>
}
else if (!classRooms.Any())
{
	<p>Brak dostępnych sal.</p>
}
else
{
	@foreach(var classRoom in classRooms)
	{
		<ClassRoomCard classRoom="classRoom" />
	}
}

@code {
	private List<ClassRoom>? classRooms;

	protected override async Task OnInitializedAsync()
	{
		classRooms = (await ClassRoomService.GetAvailableClassRoomsAsync(DateTime.Today, DateTime.Today.AddDays(365))).ToList();
	}
}
