@page "/classrooms"
@using CRReservation.COMMON.Models
@using CRReservation.COMMON.Components.Prefabs

<h1>Lista sal:</h1>
@foreach(var classRoom in classRooms)
{
	<ClassRoomCard classRoom="classRoom" />

}

@code {
	private readonly List<ClassRoom> classRooms;
	public ClassRooms()
	{
		classRooms = new()
		{
			new ClassRoom { Id = 1, Name = "Sala 101", Capacity = 30, Notes = "tes", IsForUse = true  },
			new ClassRoom { Id = 2, Name = "Sala 202", Capacity = 25, IsForUse = false },
			new ClassRoom { Id = 3, Name = "Sala 303", Capacity = 20, IsForUse = true }
		};
	}
}
