@page "/"
@using CRReservation.COMMON.States

@if (UserState is null || !UserState.IsLoggedIn)
{
	<h1>Witaj w Systemie rezerwacji sal</h1>
	<p>Proszę się zalogować, aby kontynuować.</p>
	return;
}
<h1>Witaj w Systemie rezerwacji sal <strong>@UserState.UserName</strong></h1>
<p>Twoje aktualne uprawnienia to: <strong>@UserState.Role</strong></p>

@code
{
	[CascadingParameter(Name = "UserState")]
	protected User UserState { get; set; }
}